<html>

<head>
  <title>Example</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
    }
  </style>
</head>

<body>
  <div id="app">
    <h1>Documentation</h1>
    <h1>Books</h1>
    <table>
      <thead>
        <tr>
          <td>Titel</td>
          <td>ISBN</td>
          <td>Författare</td>
        </tr>
      </thead>
      <tbody>
        <tr v-for="book in books">
          <td>{{ book.title }}</td>
          <td>{{ book.ISBN }}</td>
          <td>
            <span v-for="author in book.author">
              {{ author.firstname }}
              {{ author.lastname }}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
    <button v-on:click="addBook">Add book</button>
    <button v-on:click="deleteBook">Delete book</button>
    <pre>{{ documentation }}</pre>
  </div>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        message: 'Hello Vue!',
        documentation: null,
        books: []
      },
      mounted() {
        this.getDocumentation();
        this.getBooks();
      },
      methods: {
        getDocumentation() {
          axios.get("http://api.test.test:1234/documentation").then(response => this.documentation = response.data);
        },
        getBooks() {
          axios.get("http://api.test.test:1234/book").then(response => this.books = response.data);
        },
        addBook() {
          axios.post("http://api.test.test:1234/book", {
            title: "A new book",
            ISBN: "3333333",
            authorId: [1]
          }).then(() => {
            this.getBooks();
          });
        },
        deleteBook() {
          axios.delete(`http://api.test.test:1234/book/${this.books[0].id}`).then(() => this.getBooks())
        }
      }
    })
  </script>
</body>

</html>